/*
  Link to css file to hw7_s2.xml
*/

catalog {
     background-color: #FF6699;
}

h1 {
     text-align: center;
     color: #f0ffff;
     margin-top: 30px;
     display: block;
     text-transform: uppercase;
     font-weight: 900;
     font-family: monospace;
     font-size: 38px;
}

car {
      padding: 15px;
      width: 250px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 15px;
      margin-bottom: 15px;
      background-color: #F5F5F5;
      border-radius: 25px;
      display: block;
}

h4 {
     font-weight: 900;
     font-family: monospace;
}

make, model, year, color, cylinders, fuel_system, number_of_doors, transmission_type {
     display: block;
     font-family: monospace;
     font-size: 12pt;
}

radio, air_conditioning, power_windows, power_steering, power_brakes {
     display: block;
     font-family: monospace;
     font-size: 12pt;
}
